<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    
  </entityFramework>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=L4KD6162\SQLEXPRESS;initial catalog=Word;persist security info=True;user id=mehran1;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="WordEntities" connectionString="metadata=res://*/WordModel.csdl|res://*/WordModel.ssdl|res://*/WordModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=L4KD6162\SQLEXPRESS;initial catalog=Word;persist security info=True;user id=mehran1;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LinkedInConnection" connectionString="data source=L4KD6162\SQLEXPRESS;initial catalog=LinkedIn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OCRConnection" connectionString="data source=L4KD6162\SQLEXPRESS;initial catalog=OCR;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="AgentPath" value="D:\Code\mehran\Mehrsan_School\Mehrsan.Word\Mehrsan.Agent\bin\Debug\Mehrsan.Agent.exe"/>
    <add key="MaxImagePerWord" value="20"/>
    <add key="NofRelatedSentences" value="3"/>
    <add key="BackupDir" value="D:\Code\mehran\Mehrsan_School\Mehrsan.Word\Mehrsan.Db\Backups\"/>
    <add key="DownloadGoogleImageWaitTime" value="20"/>
    <add key="LogDirectory" value="D:\temp\Mehrsan\Log\"/>
    <add key="VideoDirectory" value="D:\Code\mehran\Mehrsan_School\Mehrsan.Word\Mehrsan.Word\video\" />
  </appSettings>
</configuration>