@Model  IEnumerable<Mehrsan.Dal.DB.Word>

    <!-- Website Title & Description for Search Engine purposes -->
    <title>Coding</title>
    <meta name="description" content="Learn how to code your first responsive website with the new Twitter Bootstrap 3.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <script src="~/js/jquery-1.10.2.js"></script>
    <script src="~/js/angular.min.js"></script>


    <div ng-app="myModule" ng-controller="myController">
        <div class="container-fluid" id="main" data-ng-init="playWordQueue()">
            <div class="container-fluid ">
                <div class="row" id="divWordImages">
                    <div class="container-outer " style="display:none">
                        <!--this feature is not supported currently-->
                        <div id="images-frame" class="container-inner">
                            <!-- Your images over here -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="myCarousel">
                <div class="col-12" style="background:#999999">

                    <div>
                        <div style="">
                            <ol class="carousel-indicators">
                                <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
                            </ol>
                            <div id="divCarousel" class="carousel-inner" style="opacity:1; ">
                            </div>
                            <a class="top-left" data-slide="prev" href="#myCarousel" id="ancLeftArrowCarousel"><span class="icon-prev"></span></a>
                            <a class="top-right" data-slide="next" href="#myCarousel" id="ancRightArrowCarousel"><span class="icon-next"></span></a>
                        </div>
                    </div>
                </div>
            </div><!-- end myCarousel -->
            <div class="row" id="bigCallout2">
                <div class="col-12">

                    <div class="well col-lg-12">

                        <div class="col-lg-4 ">
                            <a href="" class="btn btn-small btn-default" id="btnAddWord" data-toggle="tooltip" data-original-title="Shows the add word panel">New<span class="glyphicon "></span></a>
                            <a href="" class="btn btn-small btn-default" id="btnSetAmbiguous" data-toggle="tooltip" data-original-title="Sets the word as ambiguous">Ambiguous<span class="glyphicon"></span></a>
                            <a href="" class="btn btn-small btn-default" id="btnDeleteWord" data-toggle="tooltip" data-original-title="Deletes the word from the word list">Delete<span class="glyphicon"></span></a>
                            <a href="" class="btn btn-small btn-default" id="btnKnow" data-toggle="tooltip" data-original-title="Press it if you know the meaning of the word">OK</a>
                            <a href="" class="btn btn-small btn-default" id="btnDontKnow" data-toggle="tooltip" data-original-title="Press it if you dont know the meaning of the word">NOK<span class="glyphicon"></span></a>
                            <a href="" class="btn btn-small btn-default" id="btnUndo" data-toggle="tooltip" data-original-title="Undo the last change">Undo<span class="glyphicon"></span></a>
                            <a href="" class="btn btn-small btn-default hidden" id="btnShowWords">Show Words<span class="glyphicon"></span></a>
                            <a href="" class="btn btn-small btn-default hidden" id="btnLoadOrdNetData">Load Ordnet Data<span class="glyphicon "></span></a>
                            <a href="" class="btn btn-small btn-default hidden" id="btnCreateGraph">Create Graph<span class="glyphicon"></span></a>
                            <a href="" class="btn btn-small btn-default hidden" id="btnImportFile">Import File<span class="glyphicon"></span></a>
                        </div>
                        <div class="col-lg-1 ">
                            <span><input class="form-control" data-toggle="tooltip" data-original-title="Current Number Of Automatic Repetitions" id="txtNumberOfAutomaticRepetitions" type="text" ng-model="txtNumberOfAutomaticRepetitionsContent" /></span>
                        </div>
                        <div class="col-lg-1 ">
                            <span><input class="form-control" data-toggle="tooltip" data-original-title="Word Repeation Threshold For Learning" id="txtWordRepeationThresholdForLearning" type="text" ng-model="txtWordRepeationThresholdForLearningContent" /></span>
                        </div>
                        <div class="col-lg-1 ">
                            <span><input class="form-control" data-toggle="tooltip" data-original-title="Word Repeation Interval" id="txtWordRepeationInterval" type="text" ng-model="txtWordRepeationIntervalContent" /></span>
                        </div>
                        <div class="col-lg-2">
                            <span><input class="form-control" data-toggle="tooltip" readonly="readonly" data-original-title="Todaywords-TotalWords" id="lblTodaywords_TotalWords" value="0" /></span>
                        </div>
                        <div class="col-lg-1 ">
                            <span><input class="form-control" id="chkPronounceWholeWord" ng-model="chkPronounceWholeWordChecked" data-toggle="tooltip" checked data-original-title="Pronounce whole word" type="checkbox"></span>
                        </div>
                        <div class="col-lg-1 ">
                            <span><input class="form-control" data-toggle="tooltip" data-original-title="Pronounce word and its meanning" id="chkPronounceWordAndMeaning" ng-model="chkPronounceWordAndMeaningChecked" type="checkbox"></span>
                        </div>

                    </div>

                </div><!-- end col-6 -->

            </div><!-- end bigCallout -->
            <div class="row " id="bigCallout1">

                <div id="successAlert" class="col-12">
                    <button type="button" id="btnCloseAddWord" class="close">&times;</button>
                    <div class="panel">
                        <form class="form-horizontal">
                            <label class="col-lg-2 control-label hide" id="lblWordId">-1</label>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="txtWord">Word</label>
                                <div class="col-lg-10">
                                    {{txtWordRepeationIntervalContent}}
                                    <input class="form-control" wrap="hard" id="txtWord" ng-model="FormData.txtWordContent" placeholder="Word" type="text">
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="txtMeaning">Message</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" wrap="hard" id="txtMeaning" placeholder="Meaning" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">&nbsp;</label>
                                <div class="col-lg-10">
                                    <div style="display:inline-block">
                                        <button id="btnCreateNewWord" class="btn btn-default" type="button">Create</button>
                                        <button id="btnUpdateWord" class="btn btn-default" type="button" ng-click="takeDecisionForNewInformation()">Update</button>
                                        <label class="control-label" for="chkWrittenByMe" style="padding-left:16px;">Written by me?</label>
                                        <input class="form-control" style="display:inline;width:30px;" id="chkWrittenByMe" ng-model="chkWrittenByMeChecked" type="checkbox">

                                    </div>
                                    <div id="divResult" class="marginT"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- end alert -->
                
                <div id="importFile" class="alert alert-success col-lg-10 alert-block fade in well">
                    <form id="fileupload" action="/api/Word/ImportWords" method="POST" enctype="multipart/form-data">
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="span7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="icon-plus icon-white"></i>
                                    <span>Add files...</span>
                                    <input type="file" name="files[]" multiple>
                                </span>
                                <button type="submit" class="btn btn-primary start">
                                    <i class="icon-upload icon-white"></i>
                                    <span>Start upload</span>
                                </button>
                                <button type="reset" class="btn btn-warning cancel">
                                    <i class="icon-ban-circle icon-white"></i>
                                    <span>Cancel upload</span>
                                </button>
                                <button type="button" class="btn btn-danger delete">
                                    <i class="icon-trash icon-white"></i>
                                    <span>Delete</span>
                                </button>
                                <input type="checkbox" class="toggle">
                            </div>
                            <div class="span5">
                                <!-- The global progress bar -->
                                <div class="progress progress-success progress-striped active fade">
                                    <div class="bar" style="width:0%;"></div>
                                </div>
                            </div>
                        </div>
                        <!-- The loading indicator is shown during image processing -->
                        <div class="fileupload-loading"></div>
                        <br>
                        <!-- The table listing the files available for upload/download -->
                        <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
                    </form>
                    <!-- modal-gallery is the modal dialog used for the image gallery -->
                    <div id="modal-gallery" class="modal modal-gallery hide fade">
                        <div class="modal-header">
                            <a class="close" data-dismiss="modal">&times;</a>
                            <h3 class="modal-title"></h3>
                        </div>
                        <div class="modal-body"><div class="modal-image"></div></div>
                        <div class="modal-footer">
                            <a class="btn btn-primary modal-next">
                                <span>Next</span>
                                <i class="icon-arrow-right icon-white"></i>
                            </a>
                            <a class="btn btn-info modal-prev">
                                <i class="icon-arrow-left icon-white"></i>
                                <span>Previous</span>
                            </a>
                            <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
                                <i class="icon-play icon-white"></i>
                                <span>Slideshow</span>
                            </a>
                            <a class="btn modal-download" target="_blank">
                                <i class="icon-download"></i>
                                <span>Download</span>
                            </a>
                        </div>
                    </div>
                    <!-- The template to display files available for upload -->
                    <script id="template-upload" type="text/x-tmpl">
                        {% for (var i=0, file; file=o.files[i]; i++) { %}
                        <tr class="template-upload fade">
                            <td class="preview"><span class="fade"></span></td>
                            <td class="name"><span>{%=file.name%}</span></td>
                            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                            {% if (file.error) { %}
                            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
                            {% } else if (o.files.valid && !i) { %}
                            <td>
                                <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
                            </td>
                            <td class="start">
                                {% if (!o.options.autoUpload) { %}
                                <button class="btn btn-primary">
                                    <i class="icon-upload icon-white"></i>
                                    <span>{%=locale.fileupload.start%}</span>
                                </button>
                                {% } %}
                            </td>
                            {% } else { %}
                            <td colspan="2"></td>
                            {% } %}
                            <td class="cancel">
                                {% if (!i) { %}
                                <button class="btn btn-warning">
                                    <i class="icon-ban-circle icon-white"></i>
                                    <span>{%=locale.fileupload.cancel%}</span>
                                </button>
                                {% } %}
                            </td>
                        </tr>
                        {% } %}
                    </script>
                    <!-- The template to display files available for download -->
                    <script id="template-download" type="text/x-tmpl">
                        {% for (var i=0, file; file=o.files[i]; i++) { %}
                        <tr class="template-download fade">
                            {% if (file.error) { %}
                            <td></td>
                            <td class="name"><span>{%=file.name%}</span></td>
                            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
                            {% } else { %}
                            <td class="preview">
                                {% if (file.thumbnail_url) { %}
                                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
                                {% } %}
                            </td>
                            <td class="name">
                                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
                            </td>
                            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                            <td colspan="2"></td>
                            {% } %}
                            <td class="delete">
                                <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                                    <i class="icon-trash icon-white"></i>
                                    <span>{%=locale.fileupload.destroy%}</span>
                                </button>
                                <input type="checkbox" name="delete" value="1">
                            </td>
                        </tr>
                        {% } %}
                    </script>
                </div>
                <div class="col-lg-1">
                    &nbsp;
                </div>
            </div><!-- end col-12 -->
        </div><!-- end bigCallout -->
        <div class="row" id="graph">
            <div class="col-12">
                <div class="col-sm-12">
                    <h3>History</h3>
                    <div id="graph">
                        <svg id="visualisation" width="1000" height="500"></svg>
                    </div>
                </div>
            </div><!-- end col-12 -->
        </div><!-- end featuresHeading -->

        <div class="row" id="recentWords">
            <div class="col-12">
                <div class="col-sm-12">
                    <h3>Recently added words</h3>
                    <div class="list-group" id="divRecentlyAddedWords" ng-repeat="recentWord in _recentWords">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">{{recentWord.TargetWord}}   <small>   {{recentWord.Time}}  </small>  </h4>
                            <p class="list-group-item-text">{{   recentWord.Meaning}} </p>
                        </a>
                    </div><!-- list-group -->

                </div>
            </div><!-- end col-12 -->
        </div><!-- end featuresHeading -->

        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2">
                        <h6>Copyright &copy; 2013 {name} {{message}}</h6>
                    </div><!-- end col-sm-2 -->

                    <div class="col-sm-4">
                        <h6>About Us</h6>
                    </div><!-- end col-sm-4 -->

                    <div class="col-sm-2">
                        <h6>Navigation</h6>
                        <ul class="unstyled">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Links</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div><!-- end col-sm-2 -->

                    <div class="col-sm-2">
                        <h6>Follow Us</h6>
                        <ul class="unstyled">
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Google Plus</a></li>
                        </ul>
                    </div><!-- end col-sm-2 -->

                    <div class="col-sm-2">
                        <h6>Coded with <span class="glyphicon glyphicon-heart"></span> by Mehran</h6>
                    </div><!-- end col-sm-2 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer>

        <link href="~/css/bootstrap-glyphicons.css" rel="stylesheet" />
        <link href="~/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/styles.css" rel="stylesheet" />

        <script src="/js/ang-script.js"></script>
    </div>
